@use "../variables" as *;


/**********************/
/*HEADER FOR BLOG.HTML*/
/**********************/

html.blog {

  header {
    background-image: url(/assets/blog-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; 
    height: 80vh; 
    width: 100%; 
  }

  .heroTextContainer1, .heroTextContainer2 {
    position: absolute;
    width: 100%;
    height: calc(80vh - 90px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 3;
    align-items: center;
  }


  .heroTextContainer1 {
    flex-direction: column;
    justify-content: flex-start;
    top: -130px;
    left: 50px;
  }

  .heroTextContainer2 {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    display: none;
  }
}