@use "../variables" as *;

/**********************/
/*STYLES FOR BLOG.HTML*/
/**********************/

html.blog {

  .blogPost {
    position: relative;
    width: 100%;
    margin-bottom: -220px;
  }

  .blogPostSection {
    display: flex;
    width: 100%;
    position: relative;
    top: -220px;
  }

  aside {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0;
    right: 0;
  }

  .asideContainer {
    width: 350px;
    padding-top: 300px;
    position: relative;
  }

  .asideImageContainer {
    width: 100%;
    height: 400px; 
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .mainSectionContainerBlog {
    width: 60%;
    border-right: 5px solid $greenishCyan;
    border-bottom: 5px solid $greenishCyan;
    position: relative; 
    left: 0;
  }

  .mainImageContainer {
    width: 100%;
    position: relative; 
    right: 20px;
    top: -20px;
  
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      box-shadow: 20px 20px $greenishCyan;
    }
  }

  .blogTextContainer {
    margin: 50px 0;
    position: relative;
    padding-right: 50px;
    right: -12.5%;
    width: 87.5%
  }

  .byline {
    font-style: italic;
    color: $twilightBlue;
    line-height: 2rem;
    margin-bottom: 3.5rem;
    margin-top: 10px;
  }

  .recentPosts {
    margin-top: 50px;
  
    ul {
      font-size: 2rem;
      font-family: $lato;
      font-weight: normal;
      line-height: 3.2rem;
      letter-spacing: 0.2rem;
      color: $black;
      padding-left: 30px;
      list-style: none;
     
      li {
        width: 100%;
        position: relative;
        list-style:none;
      }

      li::before {
        content: "\2022";  
        color: $greenishCyan; 
        font-weight: bold; 
        display: inline-block; 
        width: 1rem; 
        position: absolute;
        top: 0;
        left:-20px;
      }
    
      a {
      color: $black;

        &:hover {
          color: $spruce;
        }
        &:focus {
          color: $spruce;
        }
      }
    }
  }

  .comment {
    margin: 50px 0;
  }
    
  .commentsSection {
    width: 100%; 
    display: flex;
  }

  .commentContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .commentDate, .commentName {
    font-weight: bold;
    line-height: 2rem;
  }

  .commentName {
    color: $spruce;
    margin-bottom: 0.5rem;
  }

  .commentDate {
    color: $twilightBlue;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .commentsPosted {
    width: 100%;
    margin-top: 20px;

    li {
      margin-bottom: 35px;
    }
  }

  .accordionItemHeader {
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    background-color: $spruce;
    display: flex;
    align-items: center;
      h5 {
        color: $iceBlue;
      }
  }


  .accordionItemHeader::after, .accordionItemHeader.active::after {
    font-size: 3.5rem;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%; 
    padding: 0 10px;
    color: $iceBlue;
  }

  .accordionItemHeader::after {
    content: "\25BC";
  }

  .accordionItemHeader.active::after {
    content: "\25B2";   
  }
  
  .accordionContent {
    padding: 10px;
    
  }

  .accordionItemBody {
    max-height: 0;
    overflow: hidden;
    border: 1px $spruce solid;
    padding: 0;
    // transition: max-height 0.5s;
  }

  @keyframes stretch {
    0% {
      max-height: 0;
    }
    20% {
      max-height: 20%;
    }

    40% {
      max-height: 40%;
    }

    60% {
      max-height: 60%;
    }

    80% {
      max-height: 80%;
    }

    100% {
      max-height: 100%;
    }
  }

  // .accordionItemHeader.active + .accordionItemBody {
  //   max-height: 100%; 
  // }

  .formAreaContainer {
    width: 100%;
   
    form {
      width: 100%;
      height: 600px;  
      background-color: $iceBlue;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 100px 0;
    } 
  
    form input::placeholder, textarea, input{
      font-family: $lato;
      font-size: 2rem;
      font-weight: light;
      line-height: 3.2rem;
      letter-spacing: 0.2rem;
    }
  }
  
  .upperFormInput {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 50px;
    
    li {
      width: 50%;
    }
    
    input {
      width: 100%;
      border: none;
      border-bottom: 2px solid $greenishCyan;
      padding: 10px;
    }  
  }
    
  .contactTextArea {
    width: 100%;
    height: 100%;
    border: 2px solid $greenishCyan;
    margin-top: 50px;
    resize: none;
    padding: 10px;
  }
      
  .linkBox {
    width: 100%;
  }
}