@use "../variables" as *;

/*************************/
/*STYLES FOR CONTACT.HTML*/
/*************************/

html.contact {

  h2 {
    line-height: 4rem;
  }

  .feedbackContainer {
    display: flex;
    width: 100%;
    height: 450px;
    position: relative; 
    }
   
  .formAreaContainer {
    width: 55%;
    position: relative;
    margin-top: -220px;
    
    
    form {
      width: 100%;
      height: 600px;  
      box-shadow: 20px 20px $greenishCyan;
      background-color: $iceBlue;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 3;
    } 
  
    form input::placeholder, textarea{
      font-family: $lato;
      font-size: 2rem;
      font-weight: light;
      line-height: 3.2rem;
      letter-spacing: 0.2rem;
    }
  
    .upperFormInput {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      gap: 30px;
      
      li {
        width: 100%;
      }
    
      input {
        width: 100%;
        border: none;
        border-bottom: 2px solid $greenishCyan;
        padding: 10px;
      }  
    }
    
    .contactTextArea {
      width: 100%;
      height: 100%;
      border: 2px solid $greenishCyan;
      margin-top: 50px;
      resize: none;
      padding: 10px;
    }
      
    .linkBox {
      width: 100%;
    }
  }

  .addressContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    
    ul {
      width: 100%; 
      display: flex;
      flex-direction: column; 
    }
  }

  .socialMediaBar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
    i {
      width: 50px;
      height: 100%;
      margin-right: 10px;
    }

    i:nth-child(1) {
      margin-right: 3px;
    }

    a {
      text-decoration-style: none;
      color: black;
    }
  }

  .addressFirstLine {
    font-family: $lato;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 5.8rem;
    letter-spacing: 0.38rem;
    padding-bottom: 20px;
  }

  .addressLine {
    font-family: $lato;
    font-size: 2rem;
    font-weight: light;
    line-height: 3.2rem;
    letter-spacing: 0.2rem;
  }
}
