@use "../variables" as *;

/********************************/
/*MEDIA QUERIES FOR CONTACT.HTML*/
/********************************/

@media (max-width: 1000px) {
  html.contact {

    h2 {
      justify-content: center;
      width: 100%;
      padding: 0;
    }

    .heroTextContainer1 {
      display: none;
    }
    
    .heroTextContainer2 {
      display: inline-flex;
    }

    .feedbackContainerContact {
      flex-direction: column;
      height: auto;      
    }

    .formAreaContainerContact {
      width: 100%;
      border: 2px solid $greenishCyan;
      margin-top: 50px;

      .formContact {
        top: 0;
        left: 0;
        position: relative;
      }
    }

    .upperFormInputContact {
      display: flex;
      flex-direction: column;
      gap: 0px;

      li {
        width: 100%;
        font-size: 1.8rem;
      }
    }

    .addressContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 80px;
      padding-left: 50px;
      padding-right: 50px;     
      
      ul {
        width: 100%; 
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    .socialMediaBar {
      justify-content: center;
    }

    .submitted {
      width: 100%;
      padding-top: 100px;
    }
  }
}

@media (max-width: 800px) {
  html.contact {

    h2 {
      font-size: 6.5rem;
    }

    h3 {
      line-height: 3.5rem;
      text-align: center;
    }

    .formContact {
      font-size: 1.8rem; 
    }

    .formContact input::placeholder, textarea {
      font-size: 1.8rem; 
    }

    .addressFirstLine {
      font-size: 2.8rem;
    }
  }
}


@media (max-width: 480px) {
  html.contact {

    h2 {
      font-size: 4.2rem;
    }

    .formAreaContainerContact {
      border: none;
  
      .formContact {
        box-shadow: none;
        padding: 10px;
      }
    }

    .formContact input::placeholder, textarea {
      font-size: 1.7rem; 
    }
  }
}