@use "variables" as *;

/****************************************/
/*GENERAL STYLES SHARED ACROSS ALL PAGES*/
/****************************************/


@font-face {
  font-family: "lato";
  src: url("/fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "PlayfairDisplaySC";
  src: url("/fonts/playfair/PlayfairDisplaySC-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}


p {
  font-size: 2rem;
  font-family: $lato;
  font-weight: normal;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
  white-space: pre-line;
  color: $black;
}


