@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1700px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/***********/
/*VARIABLES*/
/***********/ /*****/
/*NAV*/
/*****/
h1 {
  font-family: "PlayfairDisplaySC";
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3.46rem;
}
h1 a {
  color: #50E3C2;
  text-decoration: none;
}
h1 a:hover {
  color: #FAFFFE;
}
h1 a:focus {
  color: #FAFFFE;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu li {
  padding: 5px 50px;
  text-transform: uppercase;
}
.menu li a {
  font-family: "Lato";
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 2.9rem;
  text-decoration: none;
  color: #FAFFFE;
}
.menu li a:hover {
  color: #50E3C2;
}
.menu li a:focus {
  color: #50E3C2;
}

.hamburger {
  display: none;
  z-index: 20;
  cursor: pointer;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  *-webkit-transition: all 0.3s ease-in-out;
  *transition: all 0.3s ease-in-out;
  background-color: #FAFFFE;
}

/****************************************/
/*GENERAL STYLES SHARED ACROSS ALL PAGES*/
/****************************************/
@font-face {
  font-family: "lato";
  src: url("/fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "PlayfairDisplaySC";
  src: url("/fonts/playfair/PlayfairDisplaySC-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
p {
  font-size: 2rem;
  font-family: "Lato";
  font-weight: normal;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
  white-space: pre-line;
  color: #2C2C2C;
}

/**********************************************************/
/*STYLES SHARED BY SECONDARY PAGES OTHER THAN INDEX.HTML*/
/**********************************************************/
html.contact h2, html.blog h2 {
  color: #FAFFFE;
  font-family: "Lato";
  font-size: 8.7rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 5.8rem;
  letter-spacing: 0.67rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-left: 10%;
  padding-bottom: 50px;
}

h3 {
  font-family: "Lato";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.38rem;
  color: #0C5F4C;
}

h4 {
  font-family: "Lato";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.38rem;
  color: #063974;
}

h5 {
  font-family: "Lato";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.38rem;
  color: #2C2C2C;
}

.greenLink {
  color: #0C5F4C;
  font-weight: bold;
}
.greenLink:hover {
  color: #063974;
}
.greenLink:focus {
  color: #063974;
}

/********/
/*HEADER*/
/********/
html.index header {
  background-image: url(/assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100%;
  margin-bottom: 150px;
}
html.index .offsetHeroImage {
  position: absolute;
  bottom: -8%;
  left: 0;
  z-index: 2;
  width: 40%;
}
html.index .heroTextContainer {
  position: absolute;
  width: 100%;
  height: calc(100vh - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  z-index: 3;
  padding-bottom: 12%;
  padding-left: 12%;
  bottom: 0;
  left: 0;
  -webkit-animation: fade1 3s;
          animation: fade1 3s;
}
@-webkit-keyframes fade1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/***********************/
/*STYLES FOR INDEX.HTML*/
/***********************/
html.index h2 {
  font-family: "Lato";
  font-weight: bold;
  font-size: 6.2rem;
  line-height: 5.8rem;
  letter-spacing: 0.67rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20%;
  color: #0C5F4C;
}
html.index h3 {
  font-size: 11.12rem;
  font-family: "PlayfairDisplaySC";
  font-weight: italic;
  color: #063974;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-left: 20%;
  margin: 30px 0;
}
html.index h4 {
  font-family: "Lato";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.38rem;
  color: #0C5F4C;
}
html.index h5 {
  font-family: "Lato";
  font-weight: bold;
  font-size: 3rem;
  line-height: 5.8rem;
  letter-spacing: 0.32rem;
  color: #0C5F4C;
}
html.index h6 {
  font-family: "Lato";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.38rem;
  color: #063974;
}
html.index .visitGuyana {
  padding-bottom: 100px;
  background-color: #FAFFFE;
}
html.index .guyanaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
html.index .guyanaTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: auto;
  padding-right: 50px;
}
html.index .guyanaImageContainer {
  width: 30%;
  position: relative;
}
html.index .guyanaImageContainer img {
  position: absolute;
  bottom: 20px;
  right: 0;
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}
html.index .gallery {
  background-color: #D2F9F1;
}
html.index .gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  padding: 100px 0;
}
html.index .gallery ul li {
  width: 33.3333333333%;
  aspect-ratio: 1/1;
  height: 100%;
  position: relative;
  overflow: hidden;
}
html.index .gallery ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: auto;
}
html.index .photoHover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html.index .photoHover p {
  font-family: "Lato";
  font-weight: normal;
  color: white;
  font-size: 7rem;
}
html.index .photoHover:hover {
  opacity: 0.8;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
html.index .photoHover:focus {
  opacity: 0.8;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-family: "Lato";
  font-weight: bold;
  color: white;
}
html.index h5 {
  position: relative;
}
html.index h5::before {
  font-family: "Font Awesome 5 Free";
  font-size: 2.5rem;
  position: absolute;
  top: 5px;
  left: -80px;
  color: #FAFFFE;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #50E3C2;
  border-radius: 50%;
  padding-left: 2px;
  padding-bottom: 2px;
}
html.index .about {
  background-color: #FAFFFE;
  margin-top: 100px;
  margin-bottom: 130px;
}
html.index .about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
html.index .about ul li {
  width: 50%;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 80px;
}
html.index .about ul li:nth-child(1) h5::before {
  content: "\e3af";
}
html.index .about ul li:nth-child(2) h5::before {
  content: "\e533";
}
html.index .about ul li:nth-child(3) h5::before {
  content: "\f15b";
}
html.index .about ul li:nth-child(4) h5::before {
  content: "\f879";
}
html.index .locations {
  background-color: #D2F9F1;
}
html.index .quadBoxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
html.index .quadBoxContainer li {
  width: 50%;
  height: 419px;
  position: relative;
}
html.index .quadBoxContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
html.index .locationImgContainer1, html.index .locationImgContainer4 {
  position: relative;
}
html.index .locationImgContainer1 {
  position: absolute;
  top: -40px;
  left: 0;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
  width: 90%;
  height: 100%;
}
html.index .locationImgContainer4 {
  position: absolute;
  bottom: -40px;
  right: 0;
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
  width: 90%;
  height: 100%;
}
html.index .locationTextContainer2 {
  position: absolute;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 27%;
}
html.index .locationTextContainer3 {
  position: absolute;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  padding-left: 27%;
}
html.index .locationTextContainer3 .linkBox {
  margin-right: 0;
  margin-left: auto;
}
html.index .quadBoxHero {
  width: 100%;
}
html.index .quadBoxHero img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
html.index .freeTrip {
  background-color: #FAFFFE;
  padding: 150px 0;
}
html.index .freeTripContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*************************/
/*HEADER FOR CONTACT.HTML*/
/*************************/
html.contact h2 {
  line-height: 4rem;
}
html.contact header {
  background-image: url(/assets/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 80vh;
  width: 100%;
}
html.contact .heroTextContainer1, html.contact .heroTextContainer2 {
  position: absolute;
  width: 100%;
  height: calc(80vh - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html.contact .heroTextContainer1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: -320px;
  left: -135px;
}
html.contact .heroTextContainer2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  display: none;
}

/*************************/
/*STYLES FOR CONTACT.HTML*/
/*************************/
html.contact h2 {
  line-height: 4rem;
}
html.contact .feedbackContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 450px;
  position: relative;
}
html.contact .formAreaContainer {
  width: 55%;
  position: relative;
  margin-top: -220px;
  z-index: 3;
}
html.contact .formAreaContainer form {
  width: 100%;
  height: 600px;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
  background-color: #FAFFFE;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html.contact .formAreaContainer form input::-webkit-input-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
html.contact .formAreaContainer form input::-moz-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
html.contact .formAreaContainer form input:-ms-input-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
html.contact .formAreaContainer form input::-ms-input-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
html.contact .formAreaContainer form input::placeholder, html.contact .formAreaContainer textarea {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
html.contact .formAreaContainer .upperFormInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  gap: 30px;
}
html.contact .formAreaContainer .upperFormInput li {
  width: 100%;
}
html.contact .formAreaContainer .upperFormInput input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding: 10px;
}
html.contact .formAreaContainer .contactTextArea {
  width: 100%;
  height: 100%;
  border: 2px solid #50E3C2;
  margin-top: 50px;
  resize: none;
  padding: 10px;
}
html.contact .formAreaContainer .linkBox {
  width: 100%;
}
html.contact .addressContainer {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 80px;
}
html.contact .addressContainer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
html.contact .socialMediaBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 8px;
}
html.contact .socialMediaBar i {
  width: 50px;
  height: 100%;
  margin-right: 10px;
}
html.contact .socialMediaBar i:nth-child(1) {
  margin-right: 3px;
}
html.contact .socialMediaBar a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  color: black;
}
html.contact .addressFirstLine {
  font-family: "Lato";
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 5.8rem;
  letter-spacing: 0.38rem;
  padding-bottom: 20px;
}
html.contact .addressLine {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

/**********************/
/*HEADER FOR BLOG.HTML*/
/**********************/
html.blog header {
  background-image: url(/assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 80vh;
  width: 100%;
}
html.blog .heroTextContainer1, html.blog .heroTextContainer2 {
  position: absolute;
  width: 100%;
  height: calc(80vh - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html.blog .heroTextContainer1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: -130px;
  left: 50px;
}
html.blog .heroTextContainer2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  display: none;
}

/**********************/
/*STYLES FOR BLOG.HTML*/
/**********************/
html.blog .blogPost {
  position: relative;
  width: 100%;
  margin-bottom: -220px;
}
html.blog .blogPostSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  top: -220px;
}
html.blog aside {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: 0;
  right: 0;
}
html.blog .asideContainer {
  width: 350px;
  padding-top: 300px;
  position: relative;
}
html.blog .asideImageContainer {
  width: 100%;
  height: 400px;
}
html.blog .asideImageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
html.blog .mainSectionContainerBlog {
  width: 60%;
  border-right: 5px solid #50E3C2;
  border-bottom: 5px solid #50E3C2;
  position: relative;
  left: 0;
}
html.blog .mainImageContainer {
  width: 100%;
  position: relative;
  right: 20px;
  top: -20px;
}
html.blog .mainImageContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
}
html.blog .blogTextContainer {
  margin: 50px 0;
  position: relative;
  padding-right: 50px;
  right: -12.5%;
  width: 87.5%;
}
html.blog .byline {
  font-style: italic;
  color: #063974;
  line-height: 2rem;
  margin-bottom: 3.5rem;
  margin-top: 10px;
}
html.blog .recentPosts {
  margin-top: 50px;
}
html.blog .recentPosts ul {
  font-size: 2rem;
  font-family: "Lato";
  font-weight: normal;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
  color: #2C2C2C;
  padding-left: 30px;
  list-style: none;
}
html.blog .recentPosts ul li {
  width: 100%;
  position: relative;
  list-style: none;
}
html.blog .recentPosts ul li::before {
  content: "•";
  color: #50E3C2;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  position: absolute;
  top: 0;
  left: -20px;
}
html.blog .recentPosts ul a {
  color: #2C2C2C;
}
html.blog .recentPosts ul a:hover {
  color: #0C5F4C;
}
html.blog .recentPosts ul a:focus {
  color: #0C5F4C;
}
html.blog .comment {
  margin: 50px 0;
}
html.blog .commentsSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html.blog .commentContainer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
html.blog .commentPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 25px 0;
}
html.blog .commentDate {
  font-weight: bold;
  color: #063974;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
html.blog .commenterPhoto {
  width: 15%;
}
html.blog .userComment {
  width: 85%;
  padding-left: 50px;
}
html.blog .formAreaContainer {
  width: 100%;
}
html.blog .formAreaContainer form {
  width: 100%;
  height: 600px;
  background-color: #FAFFFE;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}
html.blog .formAreaContainer form input::-webkit-input-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
html.blog .formAreaContainer form input::-moz-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
html.blog .formAreaContainer form input:-ms-input-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
html.blog .formAreaContainer form input::-ms-input-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
html.blog .formAreaContainer form input::placeholder, html.blog .formAreaContainer textarea {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: light;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
html.blog .upperFormInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  gap: 50px;
}
html.blog .upperFormInput li {
  width: 50%;
}
html.blog .upperFormInput input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding: 10px;
}
html.blog .contactTextArea {
  width: 100%;
  height: 100%;
  border: 2px solid #50E3C2;
  margin-top: 50px;
  resize: none;
  padding: 10px;
}
html.blog .linkBox {
  width: 100%;
}

/**********************************/
/*STYLES FOR BUTTON AND LINK BOXES*/
/**********************************/
.linkBox {
  font-family: "PlayfairDisplaySC";
  font-style: italic;
  font-size: 2rem;
  margin-top: 50px;
  padding: 15px;
  background-color: #063974;
  width: 250px;
  text-align: center;
  z-index: 3;
  cursor: pointer;
}
.linkBox:hover {
  background-color: #0C5F4C;
  cursor: pointer;
  color: #D2F9F1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.linkBox:focus {
  background-color: #0C5F4C;
  cursor: pointer;
  color: #D2F9F1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

a {
  text-decoration: none;
  color: #FAFFFE;
  letter-spacing: 0.2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2C2C2C;
  color: #FAFFFE;
  padding: 10px 0;
}
footer p {
  color: #FAFFFE;
}

/******************************/
/*MEDIA QUERIES FOR INDEX.HTML*/
/******************************/
@media (max-width: 1500px) {
  html.index .quadBoxContainer li {
    height: 400px;
  }
  html.index .locationTextContainer2 {
    padding-right: 10%;
  }
  html.index .locationTextContainer3 {
    padding-left: 10%;
  }
}
@media (max-width: 1250px) {
  html.index h3 {
    font-size: 9rem;
  }
  html.index .freeTrip {
    padding: 100px 20px;
  }
  html.index .guyanaTextContainer {
    width: 60%;
  }
  html.index .guyanaImageContainer {
    width: 40%;
    bottom: 50%;
  }
  html.index .guyanaImageContainer img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }
  html.index .about p {
    padding-right: 10px;
  }
}
@media (max-width: 1000px) {
  html.index header {
    margin-bottom: 50px;
  }
  html.index h2, html.index h3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
  html.index .heroTextContainer {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html.index .offsetHeroImage {
    display: none;
  }
  html.index .guyanaImageContainer {
    display: none;
  }
  html.index .guyanaTextContainer {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-right: 0;
  }
  html.index .gallery .wrapper {
    width: 100%;
  }
  html.index .gallery ul {
    gap: 0;
    padding: 0;
    gap: 5px;
    background-color: #FAFFFE;
  }
  html.index .photoHover {
    opacity: 0.65;
  }
  html.index .about ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html.index .about ul li {
    width: 100%;
  }
}
@media (max-width: 800px) {
  html.index h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  html.index h3 {
    font-size: 6rem;
    margin: 0;
  }
  html.index h4 {
    font-size: 3rem;
    line-height: 4rem;
    padding-bottom: 20px;
  }
  html.index h5 {
    font-size: 3rem;
  }
  html.index .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  html.index .gallery ul li {
    width: 100%;
    height: 300px;
  }
  html.index .gallery ul li img {
    height: 100%;
    -o-object-position: center 65%;
       object-position: center 65%;
  }
  html.index .locationImgContainer1, html.index .locationImgContainer4, html.index .locationTextContainer2, html.index .locationTextContainer3 {
    width: 100%;
    overflow: hidden;
  }
  html.index .locationTextContainer2, html.index .locationTextContainer3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 20px;
    text-align: center;
  }
  html.index .locationTextContainer2 .linkBox, html.index .locationTextContainer3 .linkBox {
    margin: 30px auto;
  }
  html.index .locationImgContainer1, html.index .locationImgContainer4 {
    height: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  html.index .locationImgContainer1 img, html.index .locationImgContainer4 img {
    width: 100%;
    height: 100%;
    -o-object-position: center 90%;
       object-position: center 90%;
  }
  html.index .quadBoxContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html.index .quadBoxContainer li {
    width: 100%;
    height: 350px;
  }
  html.index .quadBoxContainer li:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  html.index .quadBoxHero {
    display: none;
  }
  html.index .freeTrip {
    padding: 50px 20px;
  }
}
@media (max-width: 480px) {
  html.index h1 {
    font-size: 2.5rem;
  }
  html.index h2 {
    font-size: 2.5rem;
    line-height: 1.8rem;
  }
  html.index h3 {
    font-size: 3.8rem;
  }
  html.index h4, html.index h5 {
    font-size: 2.8rem;
    text-align: center;
  }
  html.index .gallery ul {
    gap: 10px;
  }
  html.index .gallery ul li {
    height: 100%;
  }
  html.index li h5::before {
    display: none;
  }
  html.index .about {
    margin: 50px 0px;
  }
  html.index .about ul li {
    padding: 20px;
  }
  html.index .about p {
    text-align: center;
  }
  html.index .quadBoxContainer li:nth-child(2), html.index .quadBoxContainer li:nth-child(3) {
    height: 500px;
  }
}
/********************************/
/*MEDIA QUERIES FOR CONTACT.HTML*/
/********************************/
@media (max-width: 1000px) {
  html.contact h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0;
  }
  html.contact .heroTextContainer1 {
    display: none;
  }
  html.contact .heroTextContainer2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  html.contact .feedbackContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  html.contact .formAreaContainer {
    width: 100%;
    border: 2px solid #50E3C2;
    margin-top: 50px;
  }
  html.contact .formAreaContainer form {
    top: 0;
    left: 0;
    position: relative;
  }
  html.contact .upperFormInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  html.contact .upperFormInput li {
    width: 100%;
    font-size: 1.8rem;
  }
  html.contact .addressContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }
  html.contact .addressContainer ul {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  html.contact .socialMediaBar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 800px) {
  html.contact h2 {
    font-size: 6.5rem;
  }
  html.contact h3 {
    line-height: 3.5rem;
    text-align: center;
  }
  html.contact form {
    font-size: 1.8rem;
  }
  html.contact form input::-webkit-input-placeholder {
    font-size: 1.8rem;
  }
  html.contact form input::-moz-placeholder {
    font-size: 1.8rem;
  }
  html.contact form input:-ms-input-placeholder {
    font-size: 1.8rem;
  }
  html.contact form input::-ms-input-placeholder {
    font-size: 1.8rem;
  }
  html.contact form input::placeholder, html.contact textarea {
    font-size: 1.8rem;
  }
  html.contact .addressFirstLine {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  html.contact h2 {
    font-size: 4.2rem;
  }
  html.contact .formAreaContainer {
    border: none;
  }
  html.contact .formAreaContainer form {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px;
  }
  html.contact form input::-webkit-input-placeholder {
    font-size: 1.7rem;
  }
  html.contact form input::-moz-placeholder {
    font-size: 1.7rem;
  }
  html.contact form input:-ms-input-placeholder {
    font-size: 1.7rem;
  }
  html.contact form input::-ms-input-placeholder {
    font-size: 1.7rem;
  }
  html.contact form input::placeholder, html.contact textarea {
    font-size: 1.7rem;
  }
}
/*****************************/
/*MEDIA QUERIES FOR BLOG.HTML*/
/*****************************/
@media (max-width: 1000px) {
  html.blog .heroTextContainer1 {
    display: none;
  }
  html.blog .heroTextContainer2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  html.blog h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0;
  }
  html.blog .blogPostSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
  }
  html.blog .mainSectionContainerBlog {
    width: 100%;
    border: none;
  }
  html.blog .mainImageContainer {
    display: none;
  }
  html.blog .blogTextContainer {
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    right: 0;
    width: 85%;
  }
  html.blog aside {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html.blog .asideContainer {
    margin: 50px auto;
    width: 85%;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html.blog .asideImageContainer {
    display: none;
    padding-top: 300px;
  }
  html.blog .ourMission {
    text-align: center;
  }
  html.blog .ourMission h4 {
    margin-bottom: 10px;
  }
  html.blog .recentPosts {
    margin: 50px auto;
    text-align: center;
  }
  html.blog .recentPosts h4 {
    margin-bottom: 10px;
  }
  html.blog .recentPosts ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    list-style: inside;
  }
  html.blog .recentPosts ul li {
    text-align: left;
    width: 50%;
    padding: 0px;
  }
  html.blog .comment {
    margin-top: 200px;
    margin-bottom: 0;
  }
  html.blog .commentContainer {
    width: 100%;
  }
  html.blog .commentContainer h5 {
    text-align: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 800px) {
  html.blog h2 {
    font-size: 6.5rem;
  }
  html.blog h3 {
    line-height: 3.5rem;
    text-align: center;
  }
  html.blog .byline {
    text-align: center;
  }
  html.blog form {
    font-size: 1.8rem;
  }
  html.blog .upperFormInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  html.blog .upperFormInput li {
    width: 100%;
    margin: 10px 0;
    font-size: 1.8rem;
  }
  html.blog form input::-webkit-input-placeholder {
    font-size: 1.8rem;
  }
  html.blog form input::-moz-placeholder {
    font-size: 1.8rem;
  }
  html.blog form input:-ms-input-placeholder {
    font-size: 1.8rem;
  }
  html.blog form input::-ms-input-placeholder {
    font-size: 1.8rem;
  }
  html.blog form input::placeholder, html.blog textarea {
    font-size: 1.8rem;
  }
  html.blog .recentPosts {
    margin: 50px auto;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html.blog .recentPosts ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  html.blog .recentPosts ul li {
    width: 100%;
    font-size: 1.8rem;
  }
  html.blog .addressFirstLine {
    font-size: 2.8rem;
  }
  html.blog .commentDate {
    line-height: 2.5rem;
  }
  html.blog .commenterPhoto {
    width: 70px;
  }
  html.blog .userComment {
    width: 85%;
    padding-left: 50px;
  }
}
@media (max-width: 480px) {
  html.blog h2 {
    font-size: 4.2rem;
  }
  html.blog li {
    font-size: 1.7rem;
  }
  html.blog .formAreaContainer {
    border: none;
  }
  html.blog .formAreaContainer form {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px;
  }
  html.blog form input::-webkit-input-placeholder {
    font-size: 1.7rem;
  }
  html.blog form input::-moz-placeholder {
    font-size: 1.7rem;
  }
  html.blog form input:-ms-input-placeholder {
    font-size: 1.7rem;
  }
  html.blog form input::-ms-input-placeholder {
    font-size: 1.7rem;
  }
  html.blog form input::placeholder, html.blog textarea {
    font-size: 1.7rem;
  }
  html.blog .commentDate {
    padding: 0 20px;
  }
  html.blog .commenterPhoto {
    width: 25%;
    padding: 0;
    margin: 0;
  }
  html.blog .userComment {
    width: 75%;
    padding-left: 10px;
  }
}
/****************************************/
/*GENERAL STYLES SHARED ACROSS ALL PAGES*/
/****************************************/
@media (max-width: 1000px) {
  nav {
    background-color: #0C5F4C;
    opacity: 0.95;
    position: fixed;
    width: 100%;
    z-index: 20;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    right: -120%;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
    height: 100vh;
    resize: none;
    overflow: auto;
    background-color: #0C5F4C;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 20;
  }
  .menu.active {
    right: 0;
  }
  .menu li {
    padding: 30px;
  }
  .menu li a {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    text-align: center;
    color: #FAFFFE;
  }
  /*HAMBURGER MENU*/
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (max-width: 800px) {
  .linkBox {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .linkBox {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.7rem;
    padding: 20px;
  }
}